body {
  margin: auto;
  width: "80%";
  font-family: system-ui, sans-serif;
}


/* ::-webkit-scrollbar {
  display: none;
} */



body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
